src/main/resources/static/wsdl/CPSInterface_API_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:response="http://cps.huawei.com/cpsinterface/response" xmlns:common="http://cps.huawei.com/cpsinterface/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cps.huawei.com/cpsinterface/response" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://cps.huawei.com/cpsinterface/common" schemaLocation="CPSInterface_API_Common.xsd"/>
	<xs:complexType name="Response">
		<xs:annotation>
			<xs:documentation>中间响应消息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Version" type="xs:string">
							<xs:annotation>
								<xs:documentation>Message version, default is 1.0</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OriginatorConversationID" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unique identifier generated by the third party for the request message.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ConversationID" type="xs:string">
							<xs:annotation>
								<xs:documentation>The unique identifier generated by CPS for the request message.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="HeaderExtension" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Extension" type="common:ParameterType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Body">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResponseCode" type="xs:string">
							<xs:annotation>
								<xs:documentation>It indicates whether CPS accepts the request or not.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ResponseDesc" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Its value is a description for the parameter ResultCode.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ServiceStatus" type="xs:integer">
							<xs:annotation>
								<xs:documentation>It indicates the MM service status.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
